<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add question option</title>
</head>
<body>
<form action="/questionOption"  method="post">
<!--    <div th:if="${question.getQuestionType()==QuestionType.SINGLE_SELECT}">-->
<!--    <input th:if="${questionOption != null}" type="hidden" th:value="${questionOption.id}" name="id"><br>-->
<div th:each="option:${options}">
    <input type="radio" name="questionOption" id="1" th:value="${option == null} ? '' : ${option.title}">
        <label for="1"  th:text="${option.title}"></label>

  </div>-->
<!--    <div th:if="${question.getQuestionType()== QuestionType.MULTI_SELECT}">-->
<!--        <input th:if="${question != null}" type="hidden" th:value="${questionOption.id}" name="id"><br>-->
<!--<label >-->
<!--        <input type="checkbox" name="title" th:value="${questionOption == null} ? '' : ${questionOption.title}">-->
<!--</label><br>-->
<!--    <label>-->
<!--        <input type="checkbox-text" name="title" th:value="${questionOption == null} ? '' : ${questionOption.title}">-->
<!--    </label><br>-->
<!--    <label>-->
<!--        <input type="checkbox" name="title" th:value="${questionOption == null} ? '' : ${questionOption.title}">-->
<!--    </label><br><br>-->
<!--    </div>--></div>
    <input type="hidden" th:value="${question.id}" name="question"><br>
    <input type="submit" value="Submit">
</form>

</body>
</html>