<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit question</title>
</head>
<body>
<div th:if="${errors != null && !errors.isEmpty()}">
    <ul>
        <li style="color: red" th:each="error: ${errors}" th:text="${error}"></li>
    </ul>
</div>
<form th:if="${quiz!=null}" action="/editQuestion" th:object="${question}" method="post">
    <input th:if="${question != null}" type="hidden" th:value="${question.id}" name="id">
    Title: <input type="text" name="title" th:value="${question == null} ? '' : ${question.title}"/> <br>
    score:<input type="number" step="0.1" name="score" th:value="${question == null} ? '' : ${question.score}"/><br>
    select type: <select id="select" onclick="display();" name="questionType" class="form-control">
    <!--        <option th:value="${question == null} ? '' : ${question.questionType.name()}">Select</option>-->
    <option value="">Select</option>
    <option value="MULTI_SELECT">Multi select</option>
    <option value="SINGLE_SELECT">Single select</option>
</select><br><br>

    <div id="demo" style="display: none;">
        <div id="inputs">

            <div th:each="option:${options}">

                <input id="options" name="optionId" th:if="${option != null}" th:value="${option.id}" type="hidden">

                <label>
                    <input name="optionTitle"
                           th:type="${option.title}" th:value="${option.title}">
                    <input name="correctOptions"
                           th:value="${option.id}" type="radio">
                </label>
                <a th:href="@{'/deleteQuestionOption/' + ${option.id}}" th:if="${option != null}">Remove</a>
            </div>
        </div>
        <button onclick="addInput()" type="button">Add Option</button>
    </div>

    <div id="demo1" style="display: none;">

        <div id="inputsCheckbox">

            <div th:each="option:${options}">

                <input name="multiOptionId" th:if="${option != null}" th:value="${option.id}" type="hidden">
                <input name="multiOptionTitle"
                       th:type="${option.title}" th:value="${option.title}">
                <input name="correctOptions"
                       th:value="${option.id}" type="checkbox">

                <a th:href="@{'/deleteQuestionOption/' + ${option.id}}" th:if="${option != null}">Remove</a>
            </div>
        </div>
        <button onclick="addInputCheckbox()" type="button">Add Option</button>

    </div>


    <input type="hidden" th:value="${quiz.id}" name="quiz">
    <input type="submit" value="save">

</form>
<script>
    function display() {
        var x = document.getElementById('select').value;
        if (x == "MULTI_SELECT") {
            document.getElementById('demo').style.display = "none";
            document.getElementById('demo1').style.display = "block";
        } else if (x == "SINGLE_SELECT") {

            document.getElementById('demo').style.display = "block";
            document.getElementById('demo1').style.display = "none";
        }

    }

</script>
<script>
    var inputCounter = 1;

    function addInput() {
        var inputsDiv = document.getElementById('inputs');

        var newDiv = document.createElement('div');
        newDiv.innerHTML = `
<!--      <input type="hidden" id="optionsId${inputCounter}" name="optionId">-->
      <input type="text" id="options${inputCounter}" name="newOptions">
      <input type="radio" id="correctOptions${inputCounter}" name="correct" onclick="updateRadioValue(this)">
      <label for="options${inputCounter}"></label>

    `;
        var removeBtn = document.createElement('button');
        removeBtn.innerHTML = "Remove";
        removeBtn.addEventListener('click', function () {
            var parentDiv = this.parentNode;
            parentDiv.remove();
        });
        newDiv.appendChild(removeBtn);

        inputsDiv.appendChild(newDiv);

        inputCounter++;
    }

    function updateRadioValue(radio) {
        radio.value = document.getElementById(`options${radio.id.slice(-1)}`).value;
    }
</script>
<script>
    var inputCounter = 1;

    function addInputCheckbox() {
        var inputsDiv = document.getElementById('inputsCheckbox');

        var newDiv = document.createElement('div');
        newDiv.innerHTML = `
<!--      <input type="hidden" id="checkboxOptionsId${inputCounter}" name="multiOptionId">-->
      <input type="text" id="checkboxOptions${inputCounter}" name="newOptions">
      <input type="checkbox" id="checkboxCorrectOptions${inputCounter}" name="correct" value="" onclick="updateCheckboxValue(this)">
      <label for="checkboxOptions${inputCounter}"></label>

    `;
        var removeBtn = document.createElement('button');
        removeBtn.innerHTML = "Remove";
        removeBtn.addEventListener('click', function () {
            var parentDiv = this.parentNode;
            parentDiv.remove();
        });
        newDiv.appendChild(removeBtn);

        inputsDiv.appendChild(newDiv);

        inputCounter++;
    }

    function updateCheckboxValue(checkbox) {
        checkbox.value = document.getElementById(`checkboxOptions${checkbox.id.slice(-1)}`).value;
    }
</script>

</body>
</html>