<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Questions</title>
</head>

<style>
    .pagination {
        display: inline-block;
    }

    .pagination a {
        color: black;
        float: left;
        padding: 5px 5px;
        text-decoration: none;
    }

</style>
<body>
<table border="1">
    <tr>
        <th>id</th>
        <th>title</th>
        <th>type</th>
        <th>score</th>
        <th>quiz</th>

        <th>action</th>
    </tr>

    <tr th:each="question:${questions}">
        <td th:text="${question.id}"></td>
        <td th:text="${question.title}"></td>
        <td th:text="${question.questionType}"></td>
        <td th:text="${question.score}"></td>
        <td th:text="${question.quiz.title}"></td>
        <td th:if="${question != null}"><a th:href="@{'/deleteQuestion/' + ${question.id}}">delete</a> |<a
                th:href="@{'/editQuestion/' + ${question.id}}">edit</a></td>
    </tr>

</table>
<div th:if="${questions.totalPages > 0}" class="pagination"
     th:each="pageNumber : ${pageNumbers}">
    <a th:href="@{/questions/(size=${questions.size}, page=${pageNumber - 1})}"
       th:text="${pageNumber}"
       th:class="${pageNumber==questions.number + 1} ? active"></a>
</div>
</body>
</html>