<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student</title>
</head>
<body>
<a href="/logout">Logout</a><br>
Hello <span th:text="${currentUser.user.name}"></span>

<table border="1">
    <tr>
        <th>title</th>
        <th>action</th>
    </tr>

    <tr th:each="quiz:${quizzes}" >
        <td th:text="${quiz.title}" ></td>
        <td><a th:href="@{'/user/quiz/'+${quiz.id}}">take quiz</a></td>
    </tr>

</table>
</body>
</html>